body {

    font-family: 'VT323', monospace;
	background:
		linear-gradient(90deg, #5b7c69 20px, transparent 1%) center,
		linear-gradient(#5b7c69 20px, transparent 1%) center,
		#51725f;
	background-size: 22px 22px;
}

.container {
    margin-left: 20%;
    margin-top: 5%;
    border: 4px solid #0f301d;
    border-width: 12px 6px;
    display: inline-block;
    background-color: #5b7c69;
    flex-wrap: wrap;
    color: #0f301d;
    font-size: 3rem;

    -webkit-box-shadow: 4px 4px 0px 0px rgba(1,24,10,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(1,24,10,1);
    box-shadow: 4px 4px 0px 0px rgba(1,24,10,1);

    padding: 24px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #1c3f2b;
}

input {
    font-family: 'VT323', monospace;
    font-size: 2rem;
    border-width: 4px 4px 8px;
    background-color: #9bbca9;
    border-color: #0f301d;
    color: #0f301d;
}